---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCaseIcon.astro";
import BriefCaseIcon from "../icons/BriefCaseIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
    title="Portfolio de Ashel - Desarrollador y Programador Web con 4 años de experiencia"
    description="Apasionado por transformar ideas de UX/UI a código"
>
    <main class="px-4">
        <SectionContainer class="py-14 pb-32">
            <img
                class="rounded-full size-20 mb-4"
                src="../../assets/images/me.jpeg"
                alt="user image"
            />
            <h1
                class="text-white text-3xl md: 4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
            >
                Hi! I'm Ashel
                <div class="flex justify-center items-center">
                    <Badge>Frontend Developer</Badge>
                </div>
            </h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
                <span class="text-red-400">+4 años de experiencia</span>
                <span class="opacity-80 text-blue-200"
                    >Desarollador web
                </span>etc etc Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quibusdam inventore aliquid totam magni vel
                consequuntur enim exercitatione.
            </h2>

            <nav class="flex gap-4 mt-8 flex-wrap">
                <SocialPill href="https://www.linkedin.com/in/ricardoaxel/">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/ricardoaxel">
                    <GithubIcon class="size-4 md:size-6" />
                    Github
                </SocialPill>
                <SocialPill href="https://github.com/ricardoaxel">
                    <MailIcon class="size-4 md:size-6" />
                    ricardoaxelgd@gmail.com
                </SocialPill>
            </nav>
        </SectionContainer>
        <SectionContainer id="experience">
            <h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
                <BriefCaseIcon class="size-8" />
                Experiencia laboral
            </h2>
            <Experience />
        </SectionContainer>
        <SectionContainer id="projects">
            <h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
                <CodeIcon class="size-8" />
                Projectos
            </h2>
            <Projects />
        </SectionContainer>
    </main>
</Layout>
