---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Badge.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Portfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hi! I'm Ashel
				<div class="flex justify-center items-center">
					<Badge>Frontend Developer</Badge>
				</div>
			</h1>
			<h2 class="text-xl opacity-80">Desarollador etc etc</h2>
		</section>
	</main>
</Layout>
